@page "/Search"
@using blazorVaccine.Models

<div>
    <form>
        <label>
            Please enter surname or dob (dd/mm/yyyy)
        </label>
        <input type="text">
        <input type="submit" value="Filter">
    </form>
</div>

@{
    
}