@page "/form" 
@inject Data.BlazorVaccineContext context
@rendermode InteractiveServer
@using blazorVaccine.Models
<PageTitle>South Manchester Travel Clinic Form</PageTitle>
<h1>Travel Form</h1>
<form method="post" @onsubmit="Submit">
    <PatientDetails Patient="@patient"/>
    <MedicalHistory PatientMedicalHistory="@medicalHistory"/>
    <button type="submit">Submit</button>
</form>
@code {

    private Patient patient = new Patient();
    private PatientMedicalHistory medicalHistory = new PatientMedicalHistory();

    private void Submit()
    {
        medicalHistory.SetPatient(patient);
        context.Add(patient);
        context.Add(medicalHistory);
    }
}
