@page "/form"
@rendermode InteractiveServer
@using blazorVaccine.Models
<PageTitle>South Manchester Travel Clinic Form</PageTitle>
<h1>Travel Form</h1>
<form method="post" @onsubmit="Submit">
    <PatientDetails Patient="@patient"/>
    <MedicalHistory PatientMedicalHistory="@medicalHistory"/>
    
</form>
@code {
    private Patient patient = new Patient();
    private PatientMedicalHistory medicalHistory = new PatientMedicalHistory();

    private void Submit()
    {
        
    }
}
