@using blazorVaccine.Models
<h2>medicalHistory</h2>
<div id="feelingUnWellDiv">
    <label for="feelingUnwell">Are you feeling unwell today?</label><br>
    <InputRadioGroup id="feelingUnWell" @bind-Value="PatientMedicalHistory.FeelingUnwell">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
</div>
<div id="immunisationsDiv">
    <label for="immunisations">Have you had any immunisations in the past 4 weeks?</label><br>
    <InputRadioGroup id="immunisations" @bind-Value="PatientMedicalHistory.Immunisations">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
</div>



<RadioText @bind-AttributeValue="@PatientMedicalHistory.MedicalHistory" 
    Question="Do you have any recent or past medical history of note?"
    ID="medicalHistory"
    
/>

@* <RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.CurrentMedicines" 
    Question="Do you take any current or repeat medicines or are you taking halofantrine?"
    ID="currentMedicines"
/> *@

<div id="allergiesDiv">
    <label for="allergies">Do you have any allergies to any medicines, latex or eggs?</label><br>
    <InputRadioGroup id="allergies" @bind-Value="PatientMedicalHistory.Allergies">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>

  
</div>

<div id="seriousReactionDiv">
    <label for="seriousReaction">Have you had a serious reaction to a vaccine, antimalarial or doxycycline before?</label><br>
    <InputRadioGroup id="seriousReaction" @bind-Value="PatientMedicalHistory.SeriousReaction">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
   
</div>
<div id="hypersensitiveDiv">
    <label for="hypersensitive">Do you know if you are hypersensitive to mefloquine or related compounds (e.g. quinine, quinidine) or excipients?</label><br>
    <InputRadioGroup id="hypersensitive" @bind-Value="PatientMedicalHistory.Hypersensitive">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>

    
</div>

<div id="epilepsyDiv">
    <label for="epilepsy">Do you or any of your family suffer from epilepsy?</label><br>
    <InputRadioGroup id="epilepsy" @bind-Value="PatientMedicalHistory.Epilepsy">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
</div>

<div>
    <label for="blackWaterFever">Do you have a past history of black water fever?</label><br>
    <InputRadioGroup id="blackWaterFever" @bind-Value="PatientMedicalHistory.BlackWaterFever">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
</div>
<div>
    <label for="liverFunction">Do you have severe impairment of liver function?</label><br>
    <InputRadioGroup id="liverFunction" @bind-Value="PatientMedicalHistory.LiverFunction">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
</div>

<div>
    <label for="bloodDisorders">Do you suffer from any blood disorders such as thalassemia or sickle cell anaemia?</label><br>
    <InputRadioGroup id="bloodDisorders" @bind-Value="PatientMedicalHistory.BloodDisorders">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
   
   
</div>
<div>
    <label for="medicalTreatment">Have you recently undergone radiotherapy, chemotherapy, steroids treatment?</label><br>
    <InputRadioGroup id="medicalTreatment" @bind-Value="PatientMedicalHistory.MedicalTreatment">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
   
</div>

<div>
    <label for="historyAnxiety">Do you have any history of the following: anxiety, depression, heart, lung, spleen, liver, kidney, immunity, blood conditions, disorders, diabetes, immunity, HIV-AIDs?</label><br>
    <InputRadioGroup id="historyAnxiety" @bind-Value="PatientMedicalHistory.HistoryAnxiety">
        <InputRadio Value="true"/>Yes
        <InputRadio Value="false"/>No
    </InputRadioGroup>
   
</div>
<div id="notes">
    <label for="notes">
        <p>
            Please enter more infomation in the text box below such as when you have had previous vaccines and date of depatrue
        </p>
    </label>
    <div>
        <textarea id="notes" @bind="PatientMedicalHistory.Notes"></textarea>
    </div>
</div>

@code {
    [Parameter]
    public PatientMedicalHistory PatientMedicalHistory {get;set;}


    //this changes the state of the radio box, i couldnt figure out how to 
    public void changeState()
    {

    }


}
